---
# Styles used inside the preview Iframe control
---

body {
    background-color: white;
    background-image: linear-gradient(90deg, #969696 0, #969696 2%, transparent 2%), linear-gradient(180deg, white 50%, transparent 50%), linear-gradient(90deg, transparent 50%, #969696 50%, #969696 52%, transparent 52%), linear-gradient(180deg, white 70%, transparent 70%), linear-gradient(90deg, transparent 10%, rgba(150, 150, 150, 0.7) 10%, rgba(150, 150, 150, 0.7) 12%, transparent 12%, transparent 20%, rgba(150, 150, 150, 0.7) 20%, rgba(150, 150, 150, 0.7) 22%, transparent 22%, transparent 30%, rgba(150, 150, 150, 0.7) 30%, rgba(150, 150, 150, 0.7) 32%, transparent 32%, transparent 40%, rgba(150, 150, 150, 0.7) 40%, rgba(150, 150, 150, 0.7) 42%, transparent 42%, transparent 60%, rgba(150, 150, 150, 0.7) 60%, rgba(150, 150, 150, 0.7) 62%, transparent 62%, transparent 70%, rgba(150, 150, 150, 0.7) 70%, rgba(150, 150, 150, 0.7) 72%, transparent 72%, transparent 80%, rgba(150, 150, 150, 0.7) 80%, rgba(150, 150, 150, 0.7) 82%, transparent 82%, transparent 90%, rgba(150, 150, 150, 0.7) 90%, rgba(150, 150, 150, 0.7) 92%, transparent 92%);
    background-size: 50px 20px;
    background-repeat: repeat-x;
    min-height: 20px;
    overflow-x: hidden;
  }
  
  .ruler {
    /* only needed for labels */
    white-space: nowrap;
    font-size: 0;
    margin: 0;
    padding: 0;
  }
  
  label {
    font-size: 9px;
    padding-top: 2px;
    display: inline-block;
    width: 100px;
    text-indent: 3px;
  }
  
  .ruler {
    position: absolute;
    top: 0;
    left: 0;
  }