---
# Styles used in Preview Iframe control
---

.previews {
    .rounded-top-right {
        border-top-right-radius: 0.25rem !important;
    }
    .rounded-top-left {
        border-top-left-radius: 0.25rem !important;
    }
    .buttons {
        width: 412px;
        a {
            border: 1px solid #ccc;
            color: #555;
            font-weight: bold;
            height: 50px;
            text-align: center;
            padding-top: 10px;
            &:hover {
                text-decoration: none;
            }
        }        
    }
}

iframe#iframe-target {
    width: 412px;
    min-width: 412px;
    height: 200px;
    outline: 1px solid #ccc;
    resize: horizontal;
    overflow: auto;
}