<h1 class="bb-1 pt-5 mb-3">Template Package 4 Components</h1>
<div class="cdc-card-slider">
    <div class="card">
        <img alt="Card image cap" class="card-img-top" src="https://picsum.photos/id/849/700/300">
        <div class="card-body">
            <div class="card-title h4 text-left">
                Card Title 1
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam sapiente quibusdam labore adipisci.</p>
        </div>
    </div>
    <div class="card">
        <img alt="Card image cap" class="card-img-top" src="https://picsum.photos/id/820/700/300">
        <div class="card-body">
            <div class="card-title h4 text-left">
                Card Title 2
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam sapiente quibusdam labore adipisci.</p>
        </div>
    </div>
    <div class="card">
        <img alt="Card image cap" class="card-img-top" src="https://picsum.photos/id/821/700/300">
        <div class="card-body">
            <div class="card-title h4 text-left">
                Card Title 3
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam sapiente quibusdam labore adipisci.</p>
        </div>
    </div>
</div>