<div class="container-fluid language-footer">
	<div class="container">
		<div class="mb-3">
			<strong><a class="td-none td-ul-hover" href="https://www.cdc.gov/other/language-assistance.html">ASISTENCIA DE IDIOMAS DISPONIBLE</a></strong>
		</div>
		<div class="row">
			<div class="col-6 col-md-3 fs0875">
				<p>
					<span><a class="td-none td-ul-hover" href="https://www.cdc.gov/other/language-assistance.html#Spanish">Español</a></span>
				</p>
				<p>
					<span><a class="td-none td-ul-hover" href="https://www.cdc.gov/other/language-assistance.html#Chinese">繁體中文</a></span>
				</p>
				<p>
					<span><a class="td-none td-ul-hover" href="https://www.cdc.gov/other/language-assistance.html#Vietnamese">Tiếng Việt</a></span>
				</p>
				<p>
					<span><a class="td-none td-ul-hover" href="https://www.cdc.gov/other/language-assistance.html#Korean">한국어</a></span>
				</p>
			</div>
			<div class="col-6 col-md-3 fs0875">
				<p>
					<span><a class="td-none td-ul-hover" href="https://www.cdc.gov/other/language-assistance.html#Tagalog">Tagalog</a></span>
				</p>
				<p>
					<span><a class="td-none td-ul-hover" href="https://www.cdc.gov/other/language-assistance.html#Russian">Русский</a></span>
				</p>
				<p>
					<span><a class="td-none td-ul-hover" href="https://www.cdc.gov/other/language-assistance.html#Arabic">العربية</a></span>
				</p>
				<p>
					<span><a class="td-none td-ul-hover" href="https://www.cdc.gov/other/language-assistance.html#Haitian">Kreyòl Ayisyen</a></span>
				</p>
			</div>
			<div class="col-6 col-md-3 fs0875">
				<p>
					<span><a class="td-none td-ul-hover" href="https://www.cdc.gov/other/language-assistance.html#French">Français</a></span>
				</p>
				<p>
					<span><a class="td-none td-ul-hover" href="https://www.cdc.gov/other/language-assistance.html#Polish">Polski</a></span>
				</p>
				<p>
					<span><a class="td-none td-ul-hover" href="https://www.cdc.gov/other/language-assistance.html#Portuguese">Português</a></span>
				</p>
				<p>
					<span><a class="td-none td-ul-hover" href="https://www.cdc.gov/other/language-assistance.html#Italian">Italiano</a></span>
				</p>
			</div>
			<div class="col-6 col-md-3 fs0875">
				<p>
					<span><a class="td-none td-ul-hover" href="https://www.cdc.gov/other/language-assistance.html#German">Deutsch</a></span>
				</p>
				<p>
					<span><a class="td-none td-ul-hover" href="https://www.cdc.gov/other/language-assistance.html#Japanese">日本語</a></span>
				</p>
				<p>
					<span><a class="td-none td-ul-hover" href="https://www.cdc.gov/other/language-assistance.html#Farsi">فارسی</a></span>
				</p>
				<p>
					<span><a class="td-none td-ul-hover" href="https://www.cdc.gov/other/language-assistance.html#English">English</a></span>
				</p>
			</div>
		</div>
	</div>
</div>
