<div class="row" itemscope="itemscope" itemtype="https://schema.org/Organization">
    <div class="col-md-6 mt-1 mt-md-0">
		<span class="value" itemprop="contactPoint" itemscope="itemscope" itemtype="https://schema.org/ContactPoint">
			<span itemprop="url"><a href="https://www.hhs.gov">HHS.Gov &#x2013; Departamento de Salud y Servicios Humanos</a></span>
		</span>
    </div>
    <div class="col-md-3 mt-1 mt-md-0">
		<span class="value" itemprop="contactPoint" itemscope="itemscope" itemtype="https://schema.org/ContactPoint">
			<span itemprop="url"><a href="https://www.usa.gov/espanol/">GobiernoUSA.gov</a></span>
		</span>
	</div>
	<div class="col-md-3 mt-1 mt-md-0">
		<span class="value">
			<span><a href="https://www.cdc.gov/Other/disclaimer.html" class="footer-ext">Descargo de responsabilidad para sitios externos a los CDC</a> <span class="sr-only">external icon</span><span class="fi cdc-icon-external x16" aria-hidden="true"></span></span>
		</span>
    </div>
</div>
