<!--1 large search -->
<div class="d-xl-block d-none large-search">
    <form accept-charset="UTF-8" action="https://search.cdc.gov/search/spanish/" method="get">
        <div class="fs0875 text-right">
            <a id="az-large" href="https://www.cdc.gov/spanish/az/a.html">&Iacute;ndice A-Z de los CDC </a>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar" aria-label="Search" name="query">
            <div class="input-group-append">
                <button class="btn btn-search search-submit" type="button"><span class="sr-only">Enviar</span><svg class="svg-icon fill-b" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#sym-search-icon" /></svg></button>
            </div>
        </div>
        <input type="hidden" name="sitelimit" value="" />
        <input type="hidden" name="utf8" value="✓" />
        <input type="hidden" name="affiliate" value="cdc-main" />
    </form>
</div>
<!-- 2 medium search -->
<div class="d-none d-md-block d-xl-none medium-search">
    <form accept-charset="UTF-8" action="https://search.cdc.gov/search/spanish/" method="get">
        <button class="btn btn-primary dropdown-toggle no-toggle search-button ssi" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="float-left">Buscar</span> <svg class="dropdown-menu-medium-search-icon svg-icon fill-w align-text-top" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#sym-search-icon" /></svg><svg class="dropdown-menu-medium-close-icon svg-icon fill-w align-text-top" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#sym-close-icon" /></svg></button>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-medium-search">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar" aria-label="Search" name="query">
                <div class="input-group-append">
                    <button class="btn search-submit" type="button"><span class="sr-only">Enviar</span><svg class="svg-icon fill-p" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#sym-search-icon" /></svg></button>
                </div>
            </div>
			Lista de todos los temas: <a id="az-medium" href="https://www.cdc.gov/spanish/az/a.html">&Iacute;ndice A-Z de los CDC </a>
        </div>
        <input type="hidden" name="sitelimit" value="" />
        <input type="hidden" name="utf8" value="✓" />
        <input type="hidden" name="affiliate" value="cdc-main" />
    </form>
</div>
<!-- 3 small search -->
<div class="d-md-none small-search">
    <form accept-charset="UTF-8" action="https://search.cdc.gov/search/spanish/" method="get">
        <button class="btn bg-white dropdown-toggle no-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Buscar men&uacute; desplegable</span><svg class="dropdown-menu-medium-search-icon svg-icon fill-p va-text-top" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#sym-search-icon" /></svg><svg class="dropdown-menu-medium-close-icon svg-icon fill-p va-text-top" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#sym-close-icon" /></svg></button>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-small-search">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar" aria-label="Search" name="query">
                <div class="input-group-append">
                    <button class="btn search-submit" type="button"><span class="sr-only">Enviar</span><svg class="svg-icon fill-p x40" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#sym-search-icon" /></svg></button>
                </div>
            </div>
            &Iacute;ndice A-Z de los CDC: <a id="az-small" href="https://www.cdc.gov/spanish/az/a.html">&Iacute;ndice A-Z de los CD</a>
        </div>
        <input type="hidden" name="sitelimit" value="" />
        <input type="hidden" name="utf8" value="✓" />
        <input type="hidden" name="affiliate" value="cdc-main" />
    </form>
</div>
