<div class="d-xl-block d-none large-search">
    <form accept-charset="UTF-8" action="https://search.cdc.gov/search" method="get">
        <div class="fs0875 text-right">
            <a href="https://www.cdc.gov/az/">Todos los Temas del &iacute;ndice A-Z</a>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="query">
            <div class="input-group-append dropdown-submenu">
                <button class="btn btn-control dropdown-toggle text-ellipsis local-search-label" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Todo CDC</button>
                <div class="dropdown-menu dropdown-menu-right ds-6">
                    <a class="dropdown-item" data-site-limit="" href="#">Todo CDC</a>
                    <a class="dropdown-item" data-site-limit="www.cdc.gov/niosh/" href="#">National Center for Chronic Disease Prevention and Health Promotion One</a>
                    <a class="dropdown-item" data-site-limit="www.cdc.gov/niosh/" href="#">National Center for Chronic Disease Prevention and Health Promotion Two</a>
                    <a class="dropdown-item" data-site-limit="www.cdc.gov/niosh/" href="#">National Center for Chronic Disease Prevention and Health Promotion Three</a>
                </div>
            </div>
            <div class="input-group-append">
                <button class="btn btn-search search-submit" type="button"><span class="sr-only">Enviar</span><svg class="svg-icon fill-b" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#sym-search-icon" /></svg></button>
            </div>
        </div>
        <input type="hidden" name="sitelimit" value="" />
        <input type="hidden" name="utf8" value="✓" />
        <input type="hidden" name="affiliate" value="cdc-main" />
    </form>
</div>
<!-- medium search -->
<div class="d-none d-md-block d-xl-none medium-search">
    <form accept-charset="UTF-8" action="https://search.cdc.gov/search" method="get">
        <button class="btn btn-primary dropdown-toggle no-toggle search-button ssi" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Buscar <svg class="dropdown-menu-medium-search-icon svg-icon fill-w align-text-top" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#sym-search-icon" /></svg><svg class="dropdown-menu-medium-close-icon svg-icon fill-w align-text-top" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#sym-close-icon" /></svg></button>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-medium-search">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="query">
                <div class="input-group-append dropdown-submenu">
                    <button class="btn btn-control dropdown-toggle text-ellipsis local-search-label" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Todo CDC</button>
                    <div class="dropdown-menu dropdown-menu-right ds-6">
                        <a class="dropdown-item" data-site-limit="" href="#">All CDC</a>
                        <a class="dropdown-item" data-site-limit="www.cdc.gov/niosh/" href="#">Niosh</a>
                    </div>
                </div>
                <div class="input-group-append">
                    <button class="btn search-submit" type="button"><span class="sr-only">Enviar</span><svg class="svg-icon fill-p" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#sym-search-icon" /></svg></button>
                </div>
            </div>
            <a href="https://www.cdc.gov/az/">Todos los Temas del &iacute;ndice A-Z</a>
        </div>
        <input type="hidden" name="sitelimit" value="" />
        <input type="hidden" name="utf8" value="✓" />
        <input type="hidden" name="affiliate" value="cdc-main" />
    </form>
</div>
<!-- small search -->
<div class="d-md-none small-search">
    <form accept-charset="UTF-8" action="https://search.cdc.gov/search" method="get">
        <button class="btn bg-white dropdown-toggle no-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><svg class="dropdown-menu-medium-search-icon svg-icon fill-p va-text-top" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#sym-search-icon" /></svg><svg class="dropdown-menu-medium-close-icon svg-icon fill-p va-text-top" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#sym-close-icon" /></svg></button>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-small-search">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="query">
                <div class="input-group-append dropdown-submenu">
                    <button class="btn btn-control dropdown-toggle text-ellipsis local-search-label" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Todo CDC</button>
                    <div class="dropdown-menu dropdown-menu-right ds-6">
                        <a class="dropdown-item" data-site-limit="" href="#">Todo CDC</a>
                        <a class="dropdown-item" data-site-limit="www.cdc.gov/niosh/" href="#">Niosh</a>
                    </div>
                </div>
                <div class="input-group-append">
                    <button class="btn search-submit" type="button"><span class="sr-only">Enviar</span><svg class="svg-icon fill-p" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use xlink:href="#sym-search-icon" /></svg></button>
                </div>
            </div>
            <a href="https://www.cdc.gov/az/">Todos los Temas del &iacute;ndice A-Z</a>
        </div>
        <input type="hidden" name="sitelimit" value="" />
        <input type="hidden" name="utf8" value="✓" />
        <input type="hidden" name="affiliate" value="cdc-main" />
    </form>
</div>
