<!-- prism syntax highlighter -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/autoloader/prism-autoloader.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/line-numbers/prism-line-numbers.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/line-highlight/prism-line-highlight.min.js"></script>

<script>
	var target = document.getElementById( 'script-output' ),
		source = document.getElementById( 'prism-source' ),
		w =  $( window ).width();

	if( null !== target && null !== source ) {
		var	code = document.createElement( 'code' );

		// data-line is used to highlight certain lines in the prism output 
		// use like: data-line="5-10,20"
		if( source.hasAttribute( 'data-line' ) ) {
			target.setAttribute( 'data-line', source.getAttribute( 'data-line' ) );
		}

		code.className = 'language-javascript line-numbers';
		code.innerHTML = source.innerHTML.trim();

		Prism.highlightElement( code );
		target.appendChild( code );

		setTimeout( function() {
			duplicate();
		}, 500 ); 
	
		$( window ).resize(function(){
  			if ( w === $( window ).width() ) return;
  			w = $( window ).width();
			duplicate();
		} );
	}

	function duplicate() {
		console.log('dupe')
		$( target ).appendTo( '#script-source' ).removeAttr( 'style' );
	}
</script>