<head>
	<meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{%- if page.title -%}{{ site.title }} &middot; {{ page.title }}{%- else -%}{{ site.title }}{%- endif -%}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="{{ site.name }}">
    <link rel="shortcut icon" href="{{ site.baseurl }}/theme/img/favicon.ico">

	<link href="https://www.cdc.gov/TemplatePackage/4.0/assets/vendor/css/bootstrap.css" rel="stylesheet">
	<link href="https://www.cdc.gov/TemplatePackage/4.0/assets/css/app.min.css" rel="stylesheet">

	{%- include ga.html -%}

	{%- if page.externalcss And page.externalcss != "" And page.externalcss != nil -%}
		{%- assign pgs = page.externalcss | split: "," -%}
		{%- for pg in pgs -%}
			<link href="{{ pg | strip }}" rel="stylesheet">
		{%- endfor -%}
	{%- endif -%}

	{%- if page.localcss And page.localcss != "" And page.localcss != nil -%}
		{%- assign pgs = page.localcss | split: "," -%}
		{%- for pg in pgs -%}
			<link href="{{ site.baseurl }}/css/{{ pg | strip }}?{{ site.time | date:'%Y%m%d%U%H%N%S' }}" rel="stylesheet">
		{%- endfor -%}
	{%- endif -%}

	{%- if page.includePrismJs And page.includePrismJs != "" And page.includePrismJs != nil -%}
		{%- include structure/prismjs-css.html -%}
	{%- endif -%}

	<style>
		#vp-size {
			position: fixed;
			right: -150px;
			top: 0;
			width: 180px;
			background: rgba(0,0,0,0.75);
			color: #fff;
			padding: .5rem;
			transition: 0.75s;
			font-size: 0.75rem;
			cursor: pointer;
		}
		#vp-size span + span {
			margin-left: 10px;
		}
		#vp-size span.icon {
			transition: transform 0.75s;
			transform: rotate(0);
			vertical-align: top;
		}

		#vp-size.open {
			right: 0;
		}

		#vp-size.open span.icon {
			transform: rotate(-180deg);
		}
	</style>
</head>
