body {
    font-size: 1.25rem;
}

.profile-image {
    border: 5px solid rgba(0, 0, 0, 0.2);
}

.site-container {
    padding-top: 80px;
}

.icon {
    height: 21px;
    width: 21px;
}

.icon.grey svg path {
    fill: #999;
}

.icon.red svg path {
    fill: #A00;
}

.list-title {
    text-transform: uppercase;
    font-weight: 300;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler {
    background-color: rgba(255,255,255,0.1);
}

.navbar-toggler.collapsed {
    background-color: transparent;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-6 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}

h2[id]::before {
    display: block;
    height: 80px;
    margin-top: -80px;
    visibility: hidden;
    content: "";
}

.sticky-top.space-before {
    padding-top: 80px;
    margin-top: -80px;
}

blockquote {
    padding: 0 1rem;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
}

#search-container {

}

#search-container a {
    text-decoration: none;
    color: rgb(37, 37, 37);
}
#search-container a h3 {
    margin-bottom: 0;
    font-weight: lighter;
}

#search-container a + div {
    color: rgb(102, 138, 98);
    font-weight: bold;
}

.btn-search {
    height: calc(1.5em + .75rem + 2px);
    border-top-right-radius: 3px!important;
    border-bottom-right-radius: 3px!important;    
}

#results-container {
    height: auto;
    width: 100%;
    position: absolute;
    top: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#results-container a {
    color: #fff;
    margin: .5rem 1rem;
    display: inline-block;
}

a.bookmarklet {
    display: inline-block;
    padding: 6px;
    color: #fff;
    background: #32a0eb;
    border-radius: 4px;
}

.cp_embed_wrapper {
    margin: 1rem auto;
}
abbr {
    position: relative;
}

abbr:hover::after {
    position: absolute;
    bottom: 100%;
    left: 100%;
    display: block;
    padding: 0.4rem 1rem ;
    background: rgb(80, 80, 80);
    color: white;
    content: attr(title);
    white-space: nowrap;
    overflow: hidden;
}