@media (max-width: 767.98px) { 
    .paginate_button {
        display: none;
    }
    .pagination li {
        display: none;
    }
    .pagination li.previous, li.next {
        display: inline;
    }

    .dataTables_wrapper .dataTables_info {
        padding-top: 0;
    }		
}