<div class="container-fluid site-title intranet-horizontal-nav">
	<div class="container">
		<div class="row">
			<div class="col">
				<nav class="navbar navbar-expand-lg yamm">
					<div id="navbar-collapse-grid" class="navbar-collapse collapse">
						<ul class="nav navbar-nav nav-justified w-100  ">
							<li class="nav-item dropdown yamm">
								<a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle" aria-haspopup="true" aria-expanded="false">
									Work Day
								</a>
								<ul class="dropdown-menu menu-2-col">
									<li class="menu-body">
										<div class="row">
											<div class="col-md-6">
												<a class="dropdown-item" href="https://tasnet.cdc.gov/">Time &amp; Attendance</a>
												<a class="dropdown-item" href="http://intranet.cdc.gov/ocio/systems-tools/">Systems &amp; Tools</a>
												<a class="dropdown-item" href="http://crss.cdc.gov/connect.aspx">Room Scheduling</a>
												<a class="dropdown-item" href="http://intranet.cdc.gov/sop/transportation-travel/travel.html">Travel</a>
												<a class="dropdown-item" href="http://intranet.cdc.gov/library/">Library</a>
												<a class="dropdown-item" href="http://cdciptv.cdc.gov/">IPTV</a>
												<a class="dropdown-item" href="http://intra-apps.cdc.gov/createit/createit4/default.asp">Create-IT</a>
												<a class="dropdown-item" href="http://intranet.cdc.gov/olss/">Laboratory Safety</a>
											</div>
											<div class="col-md-6 more-links">
												<!--<button type="button" class="btn btn-primary mt-3 w-100 nav-more">More Work Day ››</button>-->
												<a class="dropdown-item more-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">VIEW MORE</a>
												<div class="collapse sub-menu" id="collapseExample">
													<a class="dropdown-item" href="http://intranet.cdc.gov/hro/career-development-training/training-courses/index.html">Training</a>
													<a class="dropdown-item" href="http://intranet.cdc.gov/sop/administration-information-resources/policies-forms-information.html">Policies &amp; Forms</a>
													<a class="dropdown-item" href="https://esp.cdc.gov/sites/ophpr/RMOI/Pages/default.aspx">DeployCDC</a>
													<a class="dropdown-item" href="http://intranet.cdc.gov/sop">Services &amp; Operations Portal</a>
													<a class="dropdown-item" href="http://intranet.cdc.gov/ossam/workplace-safety/index.html">Workplace Safety</a>
													<a class="dropdown-item" href="http://intranet.cdc.gov/ossam/campuses-facilities/campus-guides/index.html#cafeteria">Cafeterias</a>
													<a class="dropdown-item" href="http://intranet.cdc.gov/conflictresolution/">Conflict Prevention &amp; Resolution</a>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown yamm">
								<a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">
									Help Desks
								</a>
								<ul class="dropdown-menu menu-col">
									<li class="menu-body">
										<div class="row">
											<div class="col">
												<a class="dropdown-item" href="http://itsoservicedesk.cdc.gov/">ITSO ServiceDesk</a>
												<a class="dropdown-item" href="http://intranet.cdc.gov/hro/help-desks-contacts/index.html">HRO Service Desks</a>
												<a class="dropdown-item" href="http://intranet.cdc.gov/ocio/help-desks-contacts/systems-web-support/index.html">MISO Help Desk</a>
												<a class="dropdown-item" href="http://intranet.cdc.gov/helpdesk/eshco/source/servicecenter.asp">Safety Help Desk</a>
												<a class="dropdown-item" href="http://intranet.cdc.gov/ossam/contact-us/index.html">OSSAM Service Desks</a>
											</div>
										</div>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown yamm">
								<a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">
									Benefits &amp; Growth
								</a>
								<ul class="dropdown-menu">
									<li class="menu-body">
										<div class="row">
											<div class="col">
												<a class="dropdown-item" href="http://intranet.cdc.gov/sop/human-resources/jobs-recruitment-hiring.html">Jobs, Recruitment &amp; Hiring</a>
												<a class="dropdown-item" href="https://mypay.dfas.mil/mypay.aspx">myPay</a>
												<a class="dropdown-item" href="http://intranet.cdc.gov/hro/index.html">Human Resources</a>
												<a class="dropdown-item" href="http://intranet.cdc.gov/ossam/wellness-employee-assistance/index.html">Wellness &amp; Employee Assistance</a>
												<a class="dropdown-item" href="http://intranet.cdc.gov/hro/career-development-training/training-courses/index.html">Training</a>
												<a class="dropdown-item" href="http://intranet.cdc.gov/hro/performance-management-awards/index.html">Performance Management</a>
												<a class="dropdown-item" href="https://www.tsp.gov/index.html">Thrift Savings Plan</a>
											</div>
										</div>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown yamm">
								<a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">
									Connecting People
								</a>
								<ul class="dropdown-menu">
									<li class="menu-body">
										<div class="row">
											<div class="col">
												<a class="dropdown-item" href="http://neighborhood.cdc.gov/">CDC Neighborhood</a>
												<a class="dropdown-item" href="/connects/articles/archive.html?Category=CDC%20Connects%20|%20Connecting%20Conversations">Connecting Conversations</a>

												<a class="dropdown-item" href="/connects/connecting-people/orgs-workgroups.html">Workgroups &amp; Organizations</a>
												<a class="dropdown-item" href="http://intranet.cdc.gov/classifieds/">Classifieds</a>
												<a class="dropdown-item" href="/connects/articles/archive.html?Category=CDC%20Connects%20|%20Retirements">Retirements</a>
												<a class="dropdown-item" href="/connects/articles/archive.html?Category=CDC%20Connects%20|%20Memorials">Memorials</a>
											</div>
										</div>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown yamm">
								<a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">
									Agency Information
								</a>
								<ul class="dropdown-menu dropdown-menu-right menu-2-col">
									<li class="menu-body">
										<div class="row">
											<div class="col-md-6">
												<a class="dropdown-item" href="http://intranet.cdc.gov/ossam/emergency-preparedness/emergency-numbers/index.html">Emergency Numbers</a>
												<a class="dropdown-item" href="/connects/agency-info/centers-programs.html">Centers &amp; Programs (CIOs)</a>
												<a class="dropdown-item" href="http://intranet.cdc.gov/sop/campuses-facilities.html">Campuses &amp; Facilities</a>

												<a class="dropdown-item" href="/connects/events/">Calendar of Events</a>
												<a class="dropdown-item" href="http://cdctoday.cdc.gov/search.aspx">Announcements</a>
												<a class="dropdown-item" href="/connects/agency-info/acronyms.html">All Those Acronyms</a>
												<a class="dropdown-item" href="http://intranet.cdc.gov/ossam/parking-travel-transportation/commute-alternatives/index.html">Commute Alternatives</a>
											</div>
											<div class="col-md-6 more-links">
												<a class="dropdown-item more-link">VIEW MORE</a>
												<div class="collapse sub-menu">
													<a class="dropdown-item" href="http://www.cdc.gov/about/organization/mission.htm">Mission, Role &amp; Pledge</a>
													<a class="dropdown-item" href="http://intranet.cdc.gov/omhhe/DM/">Diversity &amp; Inclusion</a>
													<a class="dropdown-item" href="http://oig.hhs.gov/fraud/report-fraud">Fraud, Waste &amp; Abuse</a>
													<a class="dropdown-item" href="http://www.cdc.gov/museum/">CDC Museum</a>
													<a class="dropdown-item" href="/ossam/campuses-facilities/construction/index.html">Roybal Construction</a>
												</div>
												<a class="menu-promo card card-btn ds-8 mt-2" href=" http://intranet.cdc.gov/ossam/emergency-preparedness/emergency-numbers/index.html">
													<div class="card-body">
														<div class="row">
															<div class="col-3 col-sm-2 text-center">
																<img class="img-fluid" src="/TemplatePackage/4.0/assets/imgs/intranet/mobile-phone-100.png" alt="">
															</div>
															<div class="col-9 col-sm-10">
																<h5>CDC Emergency Alerts</h5>
																<p class="mb-0">Sign up to <span>get status alerts</span> on your phone.</p>
															</div>
														</div>
													</div>
												</a>
											</div>
										</div>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown yamm">
								<a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">
									A-Z Index
								</a>
								<ul class="dropdown-menu dropdown-menu-right">
									<li class="menu-body">
										<!-- A-Z Index item begin-->
										<div class="az-intranet-strip">
											<div class="row">
												<div class="col">
													<a href="/connects/az/a.html" class="td-none">
														<div class="card-mitem-intranet bg-gray-l3 w-3 h-3">
															<div class="card-body-intranet-mitem">A</div>
														</div>
													</a>
													<a href="/connects/az/b.html" class="td-none">
														<div class="card-mitem-intranet bg-gray-l3 w-3 h-3">
															<div class="card-body-intranet-mitem">B</div>
														</div>
													</a>
													<a href="/connects/az/c.html" class="td-none">
														<div class="card-mitem-intranet bg-gray-l3 w-3 h-3">
															<div class="card-body-intranet-mitem">C</div>
														</div>
													</a>
													<a href="/connects/az/d.html" class="td-none">
														<div class="card-mitem-intranet bg-gray-l3 w-3 h-3">
															<div class="card-body-intranet-mitem">D</div>
														</div>
													</a>
													<a href="/connects/az/e.html" class="td-none">
														<div class="card-mitem-intranet bg-gray-l3 w-3 h-3">
															<div class="card-body-intranet-mitem">E</div>
														</div>
													</a>
													<a href="/connects/az/f.html" class="td-none">
														<div class="card-mitem-intranet bg-gray-l3 w-3 h-3">
															<div class="card-body-intranet-mitem">F</div>
														</div>
													</a>

												</div>
											</div>
											<div class="row">
												<div class="col">
													<a href="/connects/az/g.html" class="td-none">
														<div class="card-mitem-intranet bg-gray-l3 w-3 h-3">
															<div class="card-body-intranet-mitem">G</div>
														</div>
													</a>
													<a href="/connects/az/h.html" class="td-none">
														<div class="card-mitem-intranet bg-gray-l3 w-3 h-3">
															<div class="card-body-intranet-mitem">H</div>
														</div>
													</a>
													<a href="/connects/az/i.html" class="td-none">
														<div class="card-mitem-intranet bg-gray-l3 w-3 h-3">
															<div class="card-body-intranet-mitem">I</div>
														</div>
													</a>
													<a href="/connects/az/j.html" class="td-none">
														<div class="card-mitem-intranet bg-gray-l3 w-3 h-3">
															<div class="card-body-intranet-mitem">J</div>
														</div>
													</a>
													<a href="/connects/az/k.html" class="td-none">
														<div class="card-mitem-intranet bg-gray-l3 w-3 h-3">
															<div class="card-body-intranet-mitem">K</div>
														</div>
													</a>
													<a href="/connects/az/l.html" class="td-none">
														<div class="card-mitem-intranet bg-gray-l3 w-3 h-3">
															<div class="card-body-intranet-mitem">L</div>
														</div>
													</a>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<a href="/connects/az/m.html" class="td-none">
														<div class="card-mitem-intranet bg-gray-l3 w-3 h-3">
															<div class="card-body-intranet-mitem">M</div>
														</div>
													</a>
													<a href="/connects/az/n.html" class="td-none">
														<div class="card-mitem-intranet bg-gray-l3 w-3 h-3">
															<div class="card-body-intranet-mitem">N</div>
														</div>
													</a>
													<a href="/connects/az/o.html" class="td-none">
														<div class="card-mitem-intranet bg-gray-l3 w-3 h-3">
															<div class="card-body-intranet-mitem">O</div>
														</div>
													</a>
													<a href="/connects/az/p.html" class="td-none">
														<div class="card-mitem-intranet bg-gray-l3 w-3 h-3">
															<div class="card-body-intranet-mitem">P</div>
														</div>
													</a>
													<a href="/connects/az/q.html" class="td-none">
														<div class="card-mitem-intranet bg-gray-l3 w-3 h-3">
															<div class="card-body-intranet-mitem">Q</div>
														</div>
													</a>
													<a href="/connects/az/r.html" class="td-none">
														<div class="card-mitem-intranet bg-gray-l3 w-3 h-3">
															<div class="card-body-intranet-mitem">R</div>
														</div>
													</a>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<a href="/connects/az/s.html" class="td-none">
														<div class="card-mitem-intranet bg-gray-l3 w-3 h-3">
															<div class="card-body-intranet-mitem">S</div>
														</div>
													</a>
													<a href="/connects/az/t.html" class="td-none">
														<div class="card-mitem-intranet bg-gray-l3 w-3 h-3">
															<div class="card-body-intranet-mitem">T</div>
														</div>
													</a>
													<a href="/connects/az/u.html" class="td-none">
														<div class="card-mitem-intranet bg-gray-l3 w-3 h-3">
															<div class="card-body-intranet-mitem">U</div>
														</div>
													</a>
													<a href="/connects/az/v.html" class="td-none">
														<div class="card-mitem-intranet bg-gray-l3 w-3 h-3">
															<div class="card-body-intranet-mitem">V</div>
														</div>
													</a>
													<a href="/connects/az/w.html" class="td-none">
														<div class="card-mitem-intranet bg-gray-l3 w-3 h-3">
															<div class="card-body-intranet-mitem">W</div>
														</div>
													</a>
													<a href="/connects/az/x.html" class="td-none">
														<div class="card-mitem-intranet bg-gray-l3 w-3 h-3">
															<div class="card-body-intranet-mitem">X</div>
														</div>
													</a>
												</div>
											</div>
											<div class="row">
												<div class="col">
													<a href="/connects/az/y.html" class="td-none">
														<div class="card-mitem-intranet bg-gray-l3 w-3 h-3">
															<div class="card-body-intranet-mitem">Y</div>
														</div>
													</a>
													<a href="/connects/az/z.html" class="td-none">
														<div class="card-mitem-intranet bg-gray-l3 w-3 h-3">
															<div class="card-body-intranet-mitem">Z</div>
														</div>
													</a>
													<a href="/connects/az/0.html" class="td-none">
														<div class="card-mitem-intranet bg-gray-l3 w-3 h-3">
															<div class="card-body-intranet-mitem">#</div>
														</div>
													</a>
												</div>
											</div>
										</div>
										<!-- A-Z Index item begin-->
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>
