<div class="mobile-section-nav d-lg-none">
	<div class="ct">
		<!-- section nav area -->
		<nav role="navigation" aria-label="Section Nav">

			<div class="dropdown">
				<button class="btn dropdown-toggle rounded-0 toggleMask" type="button" id="sectionNavButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="sr-only">Section Navigation</span>
					<span class="mobile-title"></span>
					<span id="svg-down" class="fi cdc-icon-arrow-down" aria-hidden="true"></span>
				</button>

				<div class="dropdown-menu w-100 rounded-0 m-0" id="mobileNav-dropdown" aria-labelledby="sectionNavButton">
					<nav role="navigation" aria-label="Left Nav" id="leftnav">

						<div class="list-group indicator-plus">
							<ul></ul>
						</div>
						<a class="list-group-item mobile-section-nav-foot" href="https://www.cdc.gov">
							<span class="fi cdc-icon-home x24"></span>
							<span class="mobile-foot-title">CDC Home</span>
						</a>
					</nav>
				</div>
			</div>
		</nav>
	</div>

</div>
