<div class="col-12 mt-5">
	<!-- Section: Under Left Nav -->
	<div class="card p-cen mb-5">
		<div class="card-header bg-gray-l3 h5 mt-0">
			Related Topics
		</div>
		<div class="card-body p-0">
			<ul class="list-group list-group-flush related-topics pl-3 pr-3">
				<li class="list-group-item"><a href="#">Topic 1</a></li>
				<li class="list-group-item"><a href="#">Topic 2</a></li>
				<li class="list-group-item"><a href="#">Topic 3</a></li>
				<li class="list-group-item"><a href="#">Topic 4</a></li>
			</ul>
		</div>
	</div>
</div>
