<!DOCTYPE html>
<html lang="en">
{%- include structure/head.html -%}
<body data-type="{{page.type}}">

 
{%- include bars/nav.html -%}

{%- capture col1 -%}{%- if page.narrow -%}3{%- else -%}4{%- endif -%}{%- endcapture -%}

{%- capture col2 -%}{%- if page.narrow -%}9{%- else -%}8{%- endif -%}{%- endcapture -%}

<div class="container site-container" id="top">
    <div class="row">
        <div class="col pb-4 content">
            {{ content }}
        </div>
    </div>
</div>

{%- include structure/scripts.html -%}

</body>
</html>
